########################################
# SINEW – Git Ignore
########################################
# Override parent ignore
!*
# --- ROMs (never commit) ---

# Ignore all files in roms except the README
dist/roms/*
!dist/roms/README.txt


# --- Runtime / generated data ---
cache/
temp/
tmp/
system/

generated/
backups/
lib/
exports/
include/
scripts/
dist/data/sprites/gen3/normal/**
!dist/data/sprites/gen3/normal/egg.png
dist/data/sprites/gen3/shiny/*
dist/data/sprites/gen8
dist/data/sprites/items/master-ball.png
dist/data/sprites/items/poke-ball.png
dist/data/achievements/rewards/backup
dist/data/achievements_progress.json
dist/data/pokemon_db.json
dist/data/sprites/title/emerald.gif
dist/data/sprites/title/Ruby.gif
dist/data/sprites/title/Sapphire.gif
dist/data/sprites/title/firered.gif
dist/data/sprites/title/leafgreen.gif
src/sinew_settings.json
dist/data/sprites/title/backup
dist/logs/
dist/saves/
dist/PKsinew*
sinew.log
sinew.log.1
# --- Build / packaged output ---
build/
out/

# --- Python ---
__pycache__/
venv/
*.pyc
*.pyo

# --- Node / tooling (if used) ---
node_modules/

# --- OS junk ---
.DS_Store
Thumbs.db
desktop.ini

# --- Editors ---
.vscode/
.idea/
*.swp
sinew_settings.json
